@font-face {
  font-family: "Cartograph CF";
  src: url("https://xfonts.pro/xfonts_files/600c045b6a101229c67525c5/files/CartographCF-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("https://xfonts.pro/xfonts_files/600c045b6a101229c67525c5/files/CartographCF-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("https://xfonts.pro/xfonts_files/600c045b6a101229c67525c5/files/CartographCF-RegularItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

[id~="cartograph"][id~="cf"] * {
  font-family: "Cartograph CF", "cursive";
}

[id~="firacode"] * {
  font-family: "FiraCode Nerd Font", "cursive";
}

[id~="source-foundry/hack"] * {
  font-family: "Hack Nerd Font", "cursive";
}

[id~="anonymouspro"] * {
  font-family: "AnonymicePro Nerd Font", "cursive";
}

.article-cover {
  max-height: 250px;
}

.book-cover {
  max-height: 400px;
}

.browser-tab {
  height: 80vh;
}

.vertical-image {
  max-height: 90vh;
}

.invert {
  filter: invert(0.9);
}
