@font-face {
  font-family: "Cartograph CF";
  src: url("../assets/fonts/CartographCF-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("../assets/fonts/CartographCF-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cartograph CF";
  src: url("../assets/fonts/CartographCF-RegularItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
