@import url("https://xfonts.pro/xfonts_files/600c045b6a101229c67525c5/files/CartographCF-Bold.ttf");
@import url("https://xfonts.pro/xfonts_files/600c045b6a101229c67525c5/files/CartographCF-Regular.ttf");
@import url("https://xfonts.pro/xfonts_files/600c045b6a101229c67525c5/files/CartographCF-RegularItalic.ttf");


[id~="cartograph"][id~="cf"] * {
  font-family: "Cartograph CF", "cursive";
}

.article-cover {
  max-height: 250px;
}

.book-cover {
  max-height: 400px;
}

.browser-tab {
  height: 80vh;
}

.vertical-image {
  max-height: 90vh;
}

.invert {
  filter: invert(0.9);
}
