@import url("./custom-fonts.css");

[id~="cartograph"][id~="cf"] * {
  font-family: "Cartograph CF", "cursive";
}

.article-cover {
  max-height: 250px;
}

.book-cover {
  max-height: 400px;
}

.browser-tab {
  height: min(400px, 100vh);
}

.vertical-image {
  max-height: 100vh;
}

.invert {
  filter: invert(0.9);
}
